# REDIS CONFIG
REDIS_HOST = 'localhost'
REDIS_PORT = 6379
REDIS_PASSWORD = 'password',
PROMPT_PREFIX = 'prompt:'
USER_PREFIX = 'user:'
USER_PROMPT_PREFIX = 'user_prompt:'

# JWT CONFIG
JWT_SECRET = 'secret'
JWT_EXPIRES_IN = 86400000 # 24 hours

# APP CONFIG
HOST=0.0.0.0
PORT = 3500
ENVIROMENT = 'dev'
